<div class="training-index-contents">
<%= render "shared/second-header"%>

  <div class="training-main">
    <h1 class='training-index-title'>トレーニング一覧</h1>




<h1 class="tra-main-name"> chest muscles </h1>
     <% @trainings.each do |training| %>
   <% if training.muscle_part_id == 2%>
    <ul class='training-item-lists'>
            <li class='training-list'>
            <%= link_to training_path(training.id) do %>
        
          <h3 class='training-name-index'>
            <%= training.training_name %>
          </h3>
  <% if user_signed_in? && current_user.id == 1 %>
              <div class="edit-btn">
          <%= link_to '編集',  edit_training_path(training), method: :get %>
    </div>
    <div class="destroy-btn">
          <%= link_to '削除',  training_path(training.id), method: :delete %>
    </div>

  <% end %> 
            <% end %>
            <% end %>
      </li>
      </ul>
      
      <% end %>


<h1 class="tra-main-name"> back muscles </h1>
     <% @trainings.each do |training| %>
   <% if training.muscle_part_id == 3%>
    <ul class='training-item-lists'>
            <li class='training-list'>
            <%= link_to training_path(training.id) do %>
          <h3 class='training-name-index'>
            <%= training.training_name %>
          </h3>
          <% if user_signed_in? && current_user.id == 1 %>
              <div class="edit-btn">
          <%= link_to '編集',  edit_training_path(training), method: :get %>
    </div>
    <div class="destroy-btn">
          <%= link_to '削除',  training_path(training.id), method: :delete %>
    </div>
  <% end %> 
            <% end %>
            <% end %>
      </li>
      </ul>
      <% end %>


<h1 class="tra-main-name">  shoulder muscles </h1>
     <% @trainings.each do |training| %>
   <% if training.muscle_part_id == 4%>
    <ul class='training-item-lists'>
            <li class='training-list'>
            <%= link_to training_path(training.id) do %>
          <h3 class='training-name-index'>
            <%= training.training_name %>
          </h3>
          <% if user_signed_in? && current_user.id == 1 %>
             <div class="edit-btn">
          <%= link_to '編集',  edit_training_path(training), method: :get %>
    </div>
    <div class="destroy-btn">
          <%= link_to '削除',  training_path(training.id), method: :delete %>
    </div>
  <% end %> 
            <% end %>
            <% end %>
      </li>
      </ul>
      <% end %>

<h1 class="tra-main-name"> arm muscles </h1>
     <% @trainings.each do |training| %>
   <% if training.muscle_part_id == 5%>
    <ul class='training-item-lists'>
            <li class='training-list'>
            <%= link_to training_path(training.id) do %>
          <h3 class='training-name-index'>
            <%= training.training_name %>
          </h3>
          <% if user_signed_in? && current_user.id == 1 %>
             <div class="edit-btn">
          <%= link_to '編集',  edit_training_path(training), method: :get %>
    </div>
    <div class="destroy-btn">
          <%= link_to '削除',  training_path(training.id), method: :delete %>
    </div>
  <% end %> 
            <% end %>
            <% end %>
      </li>
      </ul>
      <% end %>

<h1 class="tra-main-name"> leg muscles </h1>
     <% @trainings.each do |training| %>
   <% if training.muscle_part_id == 6%>
    <ul class='training-item-lists'>
            <li class='training-list'>
            <%= link_to training_path(training.id) do %>
          <h3 class='training-name-index'>
            <%= training.training_name %>
          </h3>
          <% if user_signed_in? && current_user.id == 1 %>
         <div class="edit-btn">
          <%= link_to '編集',  edit_training_path(training), method: :get %>
    </div>
    <div class="destroy-btn">
          <%= link_to '削除',  training_path(training.id), method: :delete %>
    </div>
  <% end %> 
            <% end %>
            <% end %>
      </li>
      </ul>
      <% end %>

<h1 class="tra-main-name"> abdomimal muscles </h1>
     <% @trainings.each do |training| %>
   <% if training.muscle_part_id == 7%>
    <ul class='training-item-lists'>
            <li class='training-list'>
            <%= link_to training_path(training.id) do %>
       
          <h3 class='training-name-index'>
            <%= training.training_name %>
          </h3>
          <% if user_signed_in? && current_user.id == 1 %>
              <div class="edit-btn">
          <%= link_to '編集',  edit_training_path(training), method: :get %>
    </div>
    <div class="destroy-btn">
          <%= link_to '削除',  training_path(training.id), method: :delete %>
    </div>
  <% end %> 
            <% end %>
            <% end %>
      </li>
      </ul>
      <% end %>
  </div>
  <a class="btn2" href="/">トップページへ戻る</a>
  <%= render "shared/second-footer"%>
</div>