<h1 class='item-lists'>トレーニング一覧</h1>

<h1 class="chest"> chest muscles </h1>
     <% @trainings.each do |training| %>
   <% if training.muscle_part_id == 2%>
    <ul class='item-lists'>
            <li class='list'>
            <%= link_to training_path(training.id) do %>
        <div class='item-info'>
          <h3 class='training-name'>
            <%= training.training_name %>
          </h3>
            <% end %>
            <% end %>

        </div>
      </li>
      </ul>
      
      <% end %>


<h1 class="back"> back muscles </h1>
     <% @trainings.each do |training| %>
   <% if training.muscle_part_id == 3%>
    <ul class='item-lists'>
            <li class='list'>
            <%= link_to training_path(training.id) do %>
        <div class='item-info'>
          <h3 class='training-name'>
            <%= training.training_name %>
          </h3>
            <% end %>
            <% end %>

        </div>
      </li>
      </ul>
      <% end %>


<h1 class="sholder">  shoulder muscles </h1>
     <% @trainings.each do |training| %>
   <% if training.muscle_part_id == 4%>
    <ul class='item-lists'>
            <li class='list'>
            <%= link_to training_path(training.id) do %>
        <div class='item-info'>
          <h3 class='training-name'>
            <%= training.training_name %>
          </h3>
            <% end %>
            <% end %>

        </div>
      </li>
      </ul>
      <% end %>

<h1 class="arm"> arm muscles </h1>
     <% @trainings.each do |training| %>
   <% if training.muscle_part_id == 5%>
    <ul class='item-lists'>
            <li class='list'>
            <%= link_to training_path(training.id) do %>
        <div class='item-info'>
          <h3 class='training-name'>
            <%= training.training_name %>
          </h3>
            <% end %>
            <% end %>

        </div>
      </li>
      </ul>
      <% end %>

<h1 class="leg"> leg muscles </h1>
     <% @trainings.each do |training| %>
   <% if training.muscle_part_id == 6%>
    <ul class='item-lists'>
            <li class='list'>
            <%= link_to training_path(training.id) do %>
        <div class='item-info'>
          <h3 class='training-name'>
            <%= training.training_name %>
          </h3>
            <% end %>
            <% end %>

        </div>
      </li>
      </ul>
      <% end %>

<h1 class="stomach"> abdomimal muscles </h1>
     <% @trainings.each do |training| %>
   <% if training.muscle_part_id == 7%>
    <ul class='item-lists'>
            <li class='list'>
            <%= link_to training_path(training.id) do %>
        <div class='item-info'>
          <h3 class='training-name'>
            <%= training.training_name %>
          </h3>
            <% end %>
            <% end %>

        </div>
      </li>
      </ul>
      <% end %>