<div class="training-index-contents">
<%= render "shared/second-header"%>
  <div class="training-main">
    <h1 class='training-index-title'>トレーニング一覧</h1>



<h1 class="tra-main-name"> chest muscles </h1>
     <% @trainings.each do |training| %>
   <% if training.muscle_part_id == 2%>
    <ul class='training-item-lists'>
            <li class='training-list'>
            <%= link_to training_path(training.id) do %>
        
          <h3 class='training-name'>
            <%= training.training_name %>
          </h3>
            <% end %>
            <% end %>
      </li>
      </ul>
      
      <% end %>


<h1 class="tra-main-name"> back muscles </h1>
     <% @trainings.each do |training| %>
   <% if training.muscle_part_id == 3%>
    <ul class='training-item-lists'>
            <li class='training-list'>
            <%= link_to training_path(training.id) do %>
          <h3 class='training-name'>
            <%= training.training_name %>
          </h3>
            <% end %>
            <% end %>
      </li>
      </ul>
      <% end %>


<h1 class="tra-main-name">  shoulder muscles </h1>
     <% @trainings.each do |training| %>
   <% if training.muscle_part_id == 4%>
    <ul class='training-item-lists'>
            <li class='training-list'>
            <%= link_to training_path(training.id) do %>
          <h3 class='training-name'>
            <%= training.training_name %>
          </h3>
            <% end %>
            <% end %>
      </li>
      </ul>
      <% end %>

<h1 class="tra-main-name"> arm muscles </h1>
     <% @trainings.each do |training| %>
   <% if training.muscle_part_id == 5%>
    <ul class='training-item-lists'>
            <li class='training-list'>
            <%= link_to training_path(training.id) do %>
          <h3 class='training-name'>
            <%= training.training_name %>
          </h3>
            <% end %>
            <% end %>
      </li>
      </ul>
      <% end %>

<h1 class="tra-main-name"> leg muscles </h1>
     <% @trainings.each do |training| %>
   <% if training.muscle_part_id == 6%>
    <ul class='training-item-lists'>
            <li class='training-list'>
            <%= link_to training_path(training.id) do %>
          <h3 class='training-name'>
            <%= training.training_name %>
          </h3>
            <% end %>
            <% end %>
      </li>
      </ul>
      <% end %>

<h1 class="tra-main-name"> abdomimal muscles </h1>
     <% @trainings.each do |training| %>
   <% if training.muscle_part_id == 7%>
    <ul class='training-item-lists'>
            <li class='training-list'>
            <%= link_to training_path(training.id) do %>
       
          <h3 class='training-name'>
            <%= training.training_name %>
          </h3>
            <% end %>
            <% end %>
      </li>
      </ul>
      <% end %>
  </div>
  <a class="btn2" href="/">トップページへ戻る</a>
  <%= render "shared/second-footer"%>
</div>