<%= render "shared/header" %>

<%# 商品の概要 %>
  <div class="item-box">
    <h2 class="name">
      <%= @training.training_name%>
    </h2>

<h1> 
  <%= @training.muscle_part.name%>  
  </h1>
<h1> 
  <%= @training.target_muscle%>  
  </h1>
<h1> 
  <%= @training.training_description %>  
  </h1>
 

  
<iframe width="1206" height="678" src= <%= @training.video_url %> frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    </div>




<%= render "shared/footer" %>