<div class="try-contents">
  <%= render "shared/header" %>


  <div class="try-main">
    <div class="try-name">
      <%= @training.training_name%>のやり方
    </div>

    <div class="try-info">
    <div class="target-name">
      対象の部位  「<%= @training.muscle_part.name%>」  
    </div>

    <div class="target-muscle">
      狙う筋肉  「<%= @training.target_muscle%>」  
    </div>
    
    <div class="try-description">
     <%= simple_format(@training.training_description) %>  
    </div>
 

    <div class="try-movie">
     <iframe width="890" height="500" src= <%= @training.video_url %> frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>


  </div>
  </div>




    <a class="btn2" href="/">トップページへ戻る</a>
  <%= render "shared/second-footer" %>
</div>