<%= render "shared/header" %>

 <ul>
      <% if user_signed_in? && current_user.id == 1 %>

          <li><%= link_to 'トレーニングを追加する', new_training_path, class: "user-nickname" %></li>

        
         <li><%= link_to 'マナーを追加する', new_manner_path, class: "user-nickname" %></li>

      <% else %>
       

      <% end %>
    </ul>
<h1 class='item-lists'>本日のトレーニングメニュー</h1>

    

    <% @trainings.each do |training| %>

      <% if training.max.present? %> 

    <ul class='item-lists'>
            <li class='list'>
            <%= link_to training_path(training.id) do %>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= training.training_name %>
          </h3>
             
            <% end %>
            
 <%# <% @limits.each do |limit| %>
 

        <%# <div class='item-info'>
          <h3 class='item-name'>
            <%= limit.max_weight %>
          <%# </h3>

<%#  <% end %>

      <%# <%= link_to "Max登録画面に進む", training_maxes_path(@training.id) ,class:"item-red-btn"%> 
        </div>
      </li>
      </ul>
      <% else %>
    



       <ul class='item-lists'>
            <li class='list'>
            <%= link_to training_path(training.id) do %>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= training.training_name %>
          </h3>
             
            <% end %>
                <%= link_to new_training_max_path(training.id) do %>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= "Max登録画面に進む" %>
          </h3>
             
            <% end %>


      <%# <%= link_to "Max登録画面に進む", training_maxes_path(@training.id) ,class:"item-red-btn"%> 
        </div>
      </li>
      </ul>
      <% end %>
      <% end %>
      


<%= render "shared/footer" %>