<div class="toppage-backimg">
<%= render "shared/header" %>

<% unless user_signed_in?  %>
  <div class='feature-contents'>
    <h2 class='title'>
      Let's Training
    </h2>
    <h3 class='title-list'>
      筋トレによってセルフイメージを向上して、豊かな生活を手に入れよう！
    </h3>
  
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "signIn_前redies_1.jpeg", class:"list-pict" %>
        <h3 class='feature-list-text'>
          手軽に始められる！
        </h3>
        <p class='feature-list-description'>
          たった１０分から始められるジム習慣❗️❗️❗️
        </p>
      </li>
      <li class='list'>
        <%= image_tag "signIn_前redies_2.jpeg", class:"list-pict" %>
        <h3 class='feature-list-text'>
          はじめの一歩が大切！
        </h3>
        <p class='feature-list-description'>
          思い切ってジムに行ってみよう❗️❗️❗️
        </p>
      </li>
      <li class='list'>
        <%= image_tag "signIn_前redies_3.jpeg", class:"list-pict" %>
        <h3 class='feature-list-text'>
          理想の身体を手に入れよう！
        </h3>
        <p class='feature-list-description'>
          筋トレならそれを叶えてくれる❗️❗️❗️
        </p>
      </li>
    </ul>
  </div>

  <div class='trouble-contents'>
    <h2 class='title'>
      こんな悩みはありませんか？？
    </h2>
  
    <ul class='trouble-lists'>
      <li class='list'>
        <ul class='trouble-list-text'>
          ・ジムに行ってみたいけど何からすれば良いかわからない…<br>
          ・続けられるか不安…<br>
          ・一回もダイエット成功したことがない…<br>
        </ul>
        <%= image_tag "trouble-contents.jpeg", class:"trouble-pict" %>
      </li>
    </ul>
  </div>

  <div class='trouble-contents'>      
        <h2 class='title'>
          そんな悩みを解決します！
        </h2>  

    <ul class='trouble-lists'>
      <li class='list'>
        <ul class='trouble-list-text'>
          ・器具の使い方を動画で説明！<br>
          ・重量及何回やれば良いかを教えてくれるため、目標が明確になるから続けやすい！<br>
          ・食事のことについての知識も知れる！<br>
        </ul>
      </li>
    </ul>
  </div>

  <div class='trouble-contents'> 
      <ul class='sign-in'>
        さっそく、無料で新規登録してみよう！
      </ul>
  </div>
<% end %>

  <div class="user-nickname-index">
    <% if user_signed_in? && current_user.id == 1 %>
    <div class="user-nickname-contents">
          <div class="user-nickname-title"><%= link_to 'トレーニングを追加する', new_training_path, class: "user-nickname" %></div>
          <div class="user-nickname-title"><%= link_to 'マナーを追加する', new_manner_path, class: "user-nickname" %></div>
    </div>

  <% elsif user_signed_in? && current_user.id != 1 %>
   <div class="user-nickname-title"><%= link_to 'カレンダー', memos_path(@user), class: "user-nickname" %></div>
  <div class='feature-training-contents'>
    <h2 class='training-index-title'>
      まずは「ジムの心得・マナー集」を読んでみよう！
    </h2>
  
    <ul class='feature-training-lists'>
      <h3 class='training-title-list'>
        あなたはどんな身体をめざす！？
      </h3>
      <div class = 'training-pic-lists' >
      <li class='training-pic-list'>
        <%= image_tag "トレーニング女子.jpeg", class:"training-list-pict" %> 
       
      </li>
      <li class='training-pic-list'>
        <%= image_tag "training男性.jpeg", class:"training-list-pict" %>
      </div>
     
      </li>
    </ul>
  </div>
  </div>
  <% end %>
  

<% if user_signed_in? && current_user.id != 1 %>
 <h1 class='training-lists'>本日のトレーニングメニュー</h1>
<h1 class="training-parts">本日の部位は 「胸」</h1>
  <% @trainings.each do |training| %>

      <% if training.muscle_part_id == 2 %>

    <% if training.max.present? && training.max.user_id == current_user.id %> 

  
    <%# if training.max.find_by(current_user.id).present? %> 
    <%# if training.max.exists?(current_user.id)%> 

      <meta charset="UTF-8">
      <script src="/js/training.js" defer></script>
      <div class="training", id="trainings-main">

       
        
        <ul class='training-lists'>
        <li class='list'>
          <%= link_to training_path(training.id) do %>
            <div class='today-main-sets'>
            <h3 class='training-name'>
            <%= training.training_name %>
            </h3>
          <% end %>
            </div>
            </li>
            </ul>
          <% @limits.each do |limit| %>

            <% if training.max.id == limit.id %>
            

              <div class="max-weight-contents">
              <ul class="max-weight-wrap">
              <li class="max-set-weight-1">
                  <span class = "max-weight" >今のMAX重量は</span>
                  <% if limit.rep > 1 %>
                  <%= (limit.max_weight * limit.rep / 40 + limit.max_weight)  %>kg
                  <% else %>
                  <%= limit.max_weight %>kg
                  <% end %>
              </li>
<div class = "set-menus" >
<div class = "set-menu" >
                <div class="max-weight">
                  セットメニュー
                </div>
                </div>

<div class = "set-weight" >
                <li class="max-set-weight">
                  メインセット　 <%= ((limit.max_weight * limit.rep / 40 + limit.max_weight) * 0.85).round %>kg  　8回
                </li> 
                <li class="max-set-weight">
                  セカンドセット <%= ((limit.max_weight * limit.rep / 40 + limit.max_weight) * 0.75).round %>kg 　10回
                </li>
                <li class="max-set-weight">
                  サードセット　 <%= ((limit.max_weight * limit.rep / 40 + limit.max_weight) * 0.65).round %>kg 　12回
                </li>
                </div>
                </div>

                </ul>
                </div>
            <% end %>
          <% end %>

          <% @maxes.each do |max| %>
             <% if max.training.id == training.id && max.user.id == current_user.id %>
              <% @limit.max_id = max.id %>
             <div class='today-main-sets'>
              <%= link_to edit_limit_path(max.id) do %>
                  <div class='today-main-set'>
                  <%= "今日のメインセットを登録する" %>
                  </div>
              </div>
              </div>
              <% end %>
           
            <% end %>
          <% end %>
      <% else %> 
 
       <ul class='training-lists'>
            <li class='list'>
            <%= link_to training_path(training.id) do %>
        <div class='today-main-sets'>
          <h3 class='training-name'>
            <%= training.training_name %>
          </h3>
          </div>
              </li>
      </ul>
            <% end %>
            <div class='training-lists'>
             まずは自分の体重の半分の重さで、何回出来るか挑戦しよう！
          </div>
                <%= link_to new_training_max_path(training.id) do %>
        <div class='today-main-sets'>
          <div class='today-main-set'>
            <%= "重量と回数を登録する" %>
          </div>
            <% end %>
        </div>
           <%= link_to limits_path do %>
                  <div class='today-main-set'>
                  <%= "本日行うトレーニングを確認しよう" %>
                  </div>
              <% end %>
     
         <% end %>  
      <% end %>
    <% end %>
    <% end %>

      


<%= render "shared/second-footer" %>
</div>