<%= render "shared/header" %>

 <ul>
      <% if user_signed_in? && current_user.id == 1 %>

          <li><%= link_to 'トレーニングを追加する', new_training_path, class: "user-nickname" %></li>

        
         <li><%= link_to 'マナーを追加する', new_manner_path, class: "user-nickname" %></li>

      <% else %>
       

      <% end %>
    </ul>
<h1 class='item-lists'>本日のトレーニングメニュー</h1>

    本日の部位は

    <% @trainings.each do |training| %>

      <% if training.max.present? %> 
      
<%# x = 2
今日のトレーニングが終了したら
x ++ 
7の次が2 %>
       <% if training.muscle_part_id == 2 %>
       <%# muscle_part_id ++ %>
          

    <ul class='item-lists'>
            <li class='list'>
            <%= link_to training_path(training.id) do %>
        <div class='item-info'>
          <h3 class='training-name'>
            <%= training.training_name %>
          </h3>
            <% end %>
            <% end %>

        </div>
      </li>
      </ul>






 <% @limits.each do |limit| %>



           <%# if max.training.id == limit.id %>
             <%# limit.id = max.training.id %>

  <% if training.max.id == limit.id %>

      <%# limit.id = limit.max_id %>


<%#= max.id %>
<ul>
<p>
今の君のMAXは<%= (limit.max_weight * limit.rep / 40 + limit.max_weight)  %>kg
</p>
<p>
セットメニュー
</p>
<p>
<%= (limit.max_weight * limit.rep / 40 + limit.max_weight) * 0.85 %>kg  8回  メインセット
</p> 
<p>
<%= (limit.max_weight * limit.rep / 40 + limit.max_weight) * 0.75 %>kg  10回
</p>
<p>
<%= (limit.max_weight * limit.rep / 40 + limit.max_weight) * 0.65 %>kg  12回
</p>
</ul>


           <% end %>
           <% end %>


            <% @maxes.each do |max| %>



      <% if max.training.id == training.id %>
      <% @limit.max_id = max.id %>

     <%= link_to edit_limit_path(max.id) do %>
        <div class='item-info'>
          <h3 class='item-name'>

            <%= "今日のメインセットを登録する" %>
          </h3>
             
        

            <% end %>
            <% end %>
            <% end %>

 <%# <% @limits.each do |limit| %>
 

        <%# <div class='item-info'>
          <h3 class='item-name'>
            <%= limit.max_weight %>
          <%# </h3>

<%#  <% end %>

      <%# <%= link_to "Max登録画面に進む", training_maxes_path(@training.id) ,class:"item-red-btn"%> 
        </div>
      </li>
      </ul>
      <% else %>
    



       <ul class='item-lists'>
            <li class='list'>
            <%= link_to training_path(training.id) do %>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= training.training_name %>
          </h3>
             
            <% end %>
                <%= link_to new_training_max_path(training.id) do %>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= "Max登録画面に進む" %>
          </h3>
             
            <% end %>


      <%# <%= link_to "Max登録画面に進む", training_maxes_path(@training.id) ,class:"item-red-btn"%> 
        </div>
      </li>
      </ul>
      <% end %>
      <% end %>
      


<%= render "shared/footer" %>