<div class="manner-contents">
  <%= render "shared/second-header"%>


  <div class='manner-main'>
    <h2 class="manner-title">ウエイトトレーニングをするに当たって</h2>

    <div>
      <h3 class='manner-lists'> ジム利用のマナー </h3>
       <% @manners.each do |manner| %>
       <% if manner.genre_id == 2%>

         <div class='manner-info'>
       <ul>
       <li>
           <h3 class='manner-name'>
             <%= manner.title %>
           </h3>
           <h3 class='manner-description'>
             <%= manner.description %>
           </h3>
         </div>
      </li>
      </ul>
      <% end %>
      <% end %>
    </div>


    <div>
      <h3 class='manner-lists'> ウエイトトレーニングの心得 </h3>
      <% @manners.each do |manner| %>
      <% if manner.genre_id == 3%>

        <div class='manner-info'>
      <ul>
        <li>
           <h3 class='manner-name'>
           <%= manner.title %>
           </h3>
           <h3 class='manner-description'>
             <%= manner.description %>
           </h3>
        </div>
      </li>
      </ul>
      <% end %>
      <% end %>
    </div>
  </div>



  <%= render "shared/second-footer"%>
</div>
